<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>upload</title>
</head>
<body>
    // 注意form上传文件时,需要配置enctype 
<form enctype="multipart/form-data" method="POST">
    <input type="text" name="user" id="user"/>
    <input type="file" name="img" id="img"/>

</form>
    <a style="cursor: pointer;display: inline-block;background-color: black;color: white" onclick="UploadFile1();">XMLHttpRequest上传</a>
    <a style="cursor: pointer;display: inline-block;background-color: black;color: white" onclick="UploadFile2();">jQuery上传</a>
    <script src="/static/js/jquery-2.2.3.min.js"></script>

<script>

    // 原生上传
    function UploadFile1() {
        var form = new FormData();
        form.append('user', document.getElementById('user').value);
        
        // 得到上传图片中的第一张,使用files[下标]
        var fileObj = document.getElementById('img').files[0];
        form.append('img', fileObj);

        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4){
                var data = xhr.responseText;
                console.log(data);
            }

        };
        xhr.open('POST','/upload_ajax/',true);
        xhr.send(form);

    }

    // ajax + jQuery上传
    function UploadFile2() {
        var fileobj = $("#img")[0].files[0];
        var form = new FormData();
        form.append('img',fileobj);
        form.append('user','alex');
        $.ajax({
            type:'POST',
            url:'/upload_ajax/',
            data:form,
            processData:false,  // 告诉jquery不转换数据
            contentType:false,  // 告诉jquery不设置内容格式
/*             success:function (arg) {
                console.log(arg);
                
            } */
        })

    }

</script>

</body>
</html>